@font-face {
  font-family: 'Climate';
  src: url('../../fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf');
}

@font-face {
  font-family: 'Marvel';
  src: url('../../fonts/Marvel-Regular/Marvel-Regular.ttf');
}

h1{
  color: #FFFFFF;
  text-shadow: 1px 1px 0 #FF0000, 2px 2px 0 #FF0000, 3px 3px 0 #FF0000;
  font-family: 'Marvel';
}

h2{
  color: #CCC;
  text-shadow: 1px 1px 0 #FF0000, 2px 2px 0 #FF0000, 3px 3px 0 #FF0000;
  font-family: 'Climate', sans-serif;
}

.bg-image{
  background-image: url(../../img/bg.jpg);
  background-size: cover; 
  background-position: center center; 
  height: 50vh;
}

.separador{
  display: block;
  height: 4px;
 background: linear-gradient(to left, #260101 0%, #F2360C 40%, #F2360C 60%, #260101 100%);
}

