<div class="container" style="background-color: #151515;">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['']">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/characters/page', 0]">Personajes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/events/page', 0]">Eventos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/series/page', 0]">Series</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/comics/page', 0]">Comics</a>
            </li>
        </ul>
        <p class="text-center text-muted">Data provided by Marvel. © 2023 MARVEL</p>
    </footer>
</div>