<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/personajes">Personajes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Capítulos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Lugares</a>
                </li>
            </ul>
            <div class="navbar-text d-flex justify-content-center">
                <a href="">
                    <img src="../../img/MarvelLogo.jpg" alt="Logo Marvel" width="150px" height="60px">
                </a>
            </div>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success buscar" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>