<app-header></app-header>
<div style="background-color: #202020;">
    <div class="container" *ngIf="!charged">
        <h1>Cargando....</h1>
    </div>
    <div class="container" *ngIf="charged">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mt-5 tarjeta">
                        <div class="row no-gutters" >
                            <div class="col-md-5">
                                <img src="{{characters[randomNum].thumbnail.path}}.jpg" class="card-img-top img-fluid"
                                    alt="Descripción de la imagen">
                            </div>
                            <div class="col-md-7" >
                                <div class="card-body pb-0">
                                    <h5 class="card-title">{{characters[randomNum].name}}</h5>
                                    <p class="card-text">{{characters[randomNum].description.substring(0,100)}}...</p>
                                    <button class="btn btn-primary">Botón</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mt-5 tarjeta">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img src="{{comics[randomNum].thumbnail.path}}.jpg" class="card-img-top img-fluid"
                                    alt="Descripción de la imagen">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body pb-0">
                                    <h5 class="card-title">{{comics[randomNum].title.substring(0,21)}}</h5>
                                    <p class="card-text">{{comics[11].description.substring(0,100)}}...</p>
                                    <button class="btn btn-primary">Botón</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mt-5 tarjeta">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img src="{{events[randomNum].thumbnail.path}}.jpg" class="card-img-top img-fluid"
                                    alt="Descripción de la imagen">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body pb-0">
                                    <h5 class="card-title">{{events[randomNum].title}}</h5>
                                    <p class="card-text">
                                        {{events[randomNum].description.substring(0,100)}}...
                                    </p>
                                    <button class="btn btn-primary">Botón</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <div class="card mt-5 tarjeta">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img src="{{series[5].thumbnail.path}}.jpg" class="card-img-top img-fluid"
                                    alt="Descripción de la imagen">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body pb-0">
                                    <h5 class="card-title">{{series[5].title}}</h5>
                                    <p class="card-text">{{series[5].description.substring(0,100)}}...</p>
                                    <button class="btn btn-primary">Botón</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>