<app-header></app-header>
<div style="background-color: #202020;">
    
    <app-charging-screen *ngIf="!charged"></app-charging-screen>

    <div class="container" *ngIf="charged">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="card mt-5 tarjeta">
                        <a class="link" [routerLink]="['/characters', characters[charactersNum].id]">
                            <div class="row no-gutters">
                                <div class="col-md-5">
                                    <img src="{{characters[charactersNum].thumbnail.path}}.jpg"
                                        class="card-img-top img-fluid" alt="Descripción de la imagen">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body pb-0">
                                        <h5 class="card-title">{{characters[charactersNum].name}}</h5>
                                        <p class="card-text">
                                            {{characters[charactersNum].description.substring(0,100)}}...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="card mt-5 tarjeta">
                        <a class="link" [routerLink]="['/comics', comics[comicsNum].id]">
                            <div class="row no-gutters">
                                <div class="col-md-5">
                                    <img src="{{comics[comicsNum].thumbnail.path}}.jpg" class="card-img-top img-fluid"
                                        alt="Descripción de la imagen">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body pb-0">
                                        <h5 class="card-title">{{comics[comicsNum].title.substring(0,21)}}</h5>
                                        <p class="card-text">{{comics[comicsNum].description.substring(0,100)}}...</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="card mt-5 tarjeta">
                        <a class="link" [routerLink]="['/events', events[eventNum].id]">
                            <div class="row no-gutters">
                                <div class="col-md-5">
                                    <img src="{{events[eventNum].thumbnail.path}}.jpg" class="card-img-top img-fluid"
                                        alt="Descripción de la imagen">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body pb-0">
                                        <h5 class="card-title">{{events[eventNum].title}}</h5>
                                        <p class="card-text">
                                            {{events[eventNum].description.substring(0,100)}}...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 mb-5 col-sm-12">
                    <div class="card mt-5 tarjeta">
                        <a class="link" [routerLink]="['/series', series[serieNum].id]">
                            <div class="row no-gutters">
                                <div class="col-md-5">
                                    <img src="{{series[this.serieNum].thumbnail.path}}.jpg"
                                        class="card-img-top img-fluid" alt="Descripción de la imagen">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body pb-0">
                                        <h5 class="card-title">{{series[this.serieNum].title}}</h5>
                                        <p class="card-text">{{series[this.serieNum].description.substring(0,100)}}...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>