<div class="container mt-5">
    <h1>Privacidad de Datos y Condiciones de Uso</h1>

    <h2>1. Privacidad de Datos</h2>

    <h3>1.1 Recopilación de datos personales</h3>
    <p>Nuestro sitio Marvel Wiki recopila ciertos datos personales de los usuarios con el fin de brindarles nuestros
        servicios. Los datos recopilados pueden incluir, entre otros, nombre, dirección de correo electrónico,
        información de contacto y preferencias del usuario. Al utilizar nuestro sitio Marvel Wiki, el usuario acepta
        la recopilación y el procesamiento de sus datos personales de acuerdo con esta política de privacidad.</p>

    <h3>1.2 Uso de datos personales</h3>
    <p>Utilizamos los datos personales recopilados para los siguientes fines:</p>
    <ul>
        <li>Brindar y mantener nuestros servicios.</li>
        <li>Personalizar y mejorar la experiencia del usuario.</li>
        <li>Enviar comunicaciones relacionadas con nuestros servicios.</li>
        <li>Cumplir con las leyes y regulaciones aplicables.</li>
    </ul>

    <h3>1.3 Divulgación de datos personales</h3>
    <p>No compartiremos los datos personales de los usuarios con terceros, excepto en los siguientes casos:</p>

    <ul>
        <li>Cuando sea necesario para proporcionar nuestros servicios y cumplir con nuestras obligaciones contractuales.
        </li>
        <li>Cuando tengamos el consentimiento del usuario para hacerlo.</li>
        <li>Cuando estemos legalmente obligados a divulgar los datos.</li>
    </ul>

    <h3>1.4 Seguridad de los datos</h3>
    <p>Implementamos medidas de seguridad apropiadas para proteger los datos personales de los usuarios contra el acceso
        no autorizado, la divulgación o la alteración. Sin embargo, no podemos garantizar la seguridad absoluta de los
        datos transmitidos a través de Internet.</p>

    <h2>2. Condiciones de Uso</h2>

    <h3>2.1 Aceptación de los términos</h3>
    <p>Al utilizar nuestro sitio Marvel Wiki, el usuario acepta cumplir con estos términos y condiciones de uso. Si
        el usuario no está de acuerdo con alguno de estos términos, le recomendamos que no utilice nuestro sitio
        Marvel Wiki.
    </p>

    <h3>2.2 Uso autorizado</h3>
    <p>El usuario acepta utilizar nuestro sitio Marvel Wiki únicamente para los fines permitidos y de acuerdo con la
        ley aplicable y estos términos y condiciones. El uso no autorizado o ilegal del sitio Marvel Wiki está
        estrictamente prohibido.</p>

    <h3>2.3 Propiedad intelectual</h3>
    <p>Todos los derechos de propiedad intelectual sobre nuestro sitio Marvel Wiki y su contenido son propiedad
        nuestra o de nuestros licenciantes. El usuario no adquiere ningún derecho de propiedad al utilizar nuestro sitio
        Marvel Wiki.</p>

    <h3>2.4 Limitación de responsabilidad</h3>
    <p>NNo seremos responsables de ningún daño directo, indirecto, incidental, consecuente o especial derivado del uso o
        la imposibilidad de uso de nuestro sitio Marvel Wiki, incluso si se nos ha notificado la posibilidad de
        dichos daños.</p>

    <h3>2.5 Modificaciones</h3>
    <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Se alienta al usuario a
        revisar periódicamente los términos y condiciones para estar informado de los cambios.</p>

    <h3>2.6 Ley aplicable</h3>
    <p>Estos términos y condiciones se regirán e interpretarán de acuerdo con las leyes de España.
        Cualquier disputa que surja en relación con estos términos y condiciones estará sujeta a la jurisdicción
        exclusiva de los tribunales de España</p>
</div>